deployment:
  metadata:
    name: app1
    namespace: apps
  spec:
  replicas: 2
  template:
    metadata:
      labels:
        app: app1
    spec:
      container:
        name: app1-container
        env:
          value: Sinccera Team
        resources:
          limits:
            cpu: 10m
            memory: 20Mi
          requests:
            cpu: 10m
            memory: 20Mi

service:
  metadata:
    name: app1-service
    namespace: apps
