deployment:
  metadata:
    name: app1
    namespace: apps
  spec:
  replicas: 2
  template:
    metadata:
      labels:
        app: app1
    spec:
      containers:
      - name: app1-container
        image: dockersamples/static-site
        containerPort: 80
        envFrom:
          configMapRef:
            name: app1-configmap
        resources:
          limits:
            cpu: 10m
            memory: 20Mi
          requests:
            cpu: 10m
            memory: 20Mi

service:
  metadata:
    name: app1-service
    namespace: apps

configmap:
  metadata:
    name: app1-configmap
    namespace: apps
  data:
    AUTHOR: Sinccera Team
