apiVersion: apps/v1
kind: Deployment
metadata:
  name: app2
  namespace: apps
spec:
  replicas: 2
  selector:
    matchLabels:
      app: app2
  template:
    metadata:
      labels:
        app: app2
    spec:
      containers:
      - name: app2-container
        image: dockersamples/static-site
        env:
        - name: AUTHOR
          value: Workshop k8s
        ports:
        - containerPort: 80
        resources:
          limits:
            cpu: 10m
            memory: 20Mi
          requests:
            cpu: 10m
            memory: 20Mi
